<%- include('partials/header.ejs') -%>

    <fieldset>
        <legend>Register</legend>
        <form action="">
            <p>
                <input type="text" placeholder="Email" id="register-email">
            </p> 
            <p>
                <input type="text" placeholder="Name" id="register-name">
            </p> 
            <p>
                <input type="password" name="" id="" placeholder="Password" id="register-password">
            </p> 
            <p>OR</p>
            <p>
            </p> <i class="fab fa-google"></i> <input type="text" name="" id="" value="Continue with Google" id="register-google">
            </p>

            <button type="submit" id="register-submit">Sign Up</button>
        </form>
    </fieldset>

<%- include('partials/footer.ejs') -%>